<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			MA==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			8A==
			</data>
			<key>boot-args</key>
			<string>Slide=129 agdpmod=pikera</string>
			<key>csr-active-config</key>
			<data>
			5wMAAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			QVJDSEZFSOeahGlNYWMgUHJv
			</data>
			<key>prev-lang:kbd</key>
			<data>
			emgtSGFuczoyNTI=
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
